h1 {
    font-size: 2.5em;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    background-color: black;
}

label {
    font-size: 1.20em;
    color: white;
}

input {
    padding: 0.1em 0.5em;
}

button {
    padding: 0.1em 0.5em;
}

.container {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    font-size: x-large;
}

p {
    text-align: center;
}


button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-bottom: 0.5em;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }


body {
    background-color: paleturquoise;
}